body{
  font-size: 1.8em !important;
}

address{
    font-size: 0.8em !important;
}
.profile-picture{
    float: right;
    width: 180px;
    height: 180px;
}

.languages{
    float: right;
}

.languages img{
    width: 25px;
    margin: 10px;
}
