nav a, footer a, header a, .list a, dl a {
    color: cornflowerblue !important;
  }
  
nav a:hover, footer a:hover, header a:hover, .list a:hover, dl a:hover {
    color: deepskyblue !important;
  }

.btn, .tag-cloud a {
  background-color: cornflowerblue !important;
}

.btn:hover {
  background-color: deepskyblue !important;
}